extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
include ../../mixins/pagination.pug

block main
    //- h1 Trang danh sach san pham
    .container.my-3
        .row
            .col-12
                +box-head(pageTitle)
        +product-gird(products)

    +pagination(pagination)